:root {
  --blue-color: rgb(96, 96, 255);
  --light-blue-color: rgb(92, 157, 255);
}

body {
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--blue-color);
}

.search-form {
  padding: 16px 530px;
}

.search-form:focus-within {
  padding: 15px 529px;
}

.input {
  padding: 8px 4px;
  padding-right: 50px;
  width: 20rem;
  border: none;
  border-radius: 2px;
  outline: none;
}

.input:active,
.input:focus {
  border: 1px solid var(--light-blue-color);
}

.submit-button {
  border: none;
  border-radius: 2px;
  padding: 8px;
  cursor: pointer;
}

.image-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photo-card {
  box-shadow: 0 0.5px 2px 0.5px rgba(0, 0, 0, 0.26);
  border-radius: 2px;
}

.image-item {
  flex: 1 0 21%;
  margin: 5px;
  width: 90%;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.label {
  font-size: 18px;
  margin-top: 0.4rem;
}

.value {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
}
