:root {
  --blue-color: rgba(0, 0, 255, 0.692);
  --light-blue-color: rgb(92, 157, 255);
}

body {
  margin: 0;
}

.header {
  background-color: var(--blue-color);
}

.search-form {
  padding: 16px 530px;
}

.search-form:focus-within {
  padding: 15px 529px;
}

.input {
  padding: 8px 4px;
  padding-right: 50px;
  width: 20rem;
  border: none;
  border-radius: 2px;
  outline: none;
}

.input:active,
.input:focus {
  border: 1px solid var(--light-blue-color);
}

.submit-button {
  border: none;
  border-radius: 2px;
  padding: 8px;
  cursor: pointer;
}
